@import "tailwindcss";

.related-character-card:hover .related-character-info {
  transform: translateY(240%);
  color: white;
  font-weight: 800;
}
.related-character-info {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  font-weight: 800;
  transform: translateY(500%);
  transition: all 0.3s ease;
}
.related-character-card {
  position: relative;
  overflow: hidden;
}

:root {
  --heights: 60vh;
  --widths: 100%;
}

.slider-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-content {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.18, 1);
}

.slides {
  min-width: 100%;
  height: var(--heights);
  position: relative;
  flex-shrink: 0;
}

.slide-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

.prev,
.next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  padding: 0.7rem;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.prev:hover,
.next:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.next {
  right: 0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 0.25rem;
  width: 2rem;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.active-dot,
.dot:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.slide-btn {
  width: 100px;
  height: 30px;
  position: absolute;
  text-align: center;
  top: 90%;
  z-index: 10;
}

.layover {
  position: absolute;
  inset: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 5;
}

.info-container {
  position: absolute;
  left: 10%;
  top: 30%;
  color: white;
  z-index: 10;
  width: 30%;
}

.slider-container {
  height: var(--heights);
  width: var(--widths);
  position: relative;
  margin: auto;
  overflow: hidden;
}

#comic-detail {
  position: relative;
  overflow: hidden;
  background-size: cover;
}

#comic-detail::before {
  content: "";
  position: absolute;
  inset: 0;

  background-size: cover;
  background-position: center;
  background-color: rgba(53, 53, 53, 0.7);

  backdrop-filter: blur(30px);
  transform: scale(1.1);

  z-index: 0;
}

#comic-detail > * {
  position: relative;
  z-index: 1;
}

.container .comic-card {
  background-color: transparent;
  border: none;
  color: white;
}

#main-content {
  min-height: calc(100vh - 250px - 56px);
  width: 100%;
}

.gallery {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 400px;
}

.panel {
  flex: 1;
  display: block;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  filter: grayscale(80%);
  transition: flex 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.panel:hover {
  flex: 4;
  filter: grayscale(0%);
}
