@import "tailwindcss";

.related-character-card:hover .related-character-info {
  transform: translateY(240%);
  color: white;
  font-weight: 800;
}

.related-character-info {
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: red;
  color: white;

  font-weight: 800;

  transform: translateY(500%);
  transition: all 0.5s ease;
}

.related-character-card {
  position: relative;
  overflow: hidden;
}
